@page "/emails"
@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler
@using Microsoft.Graph
@using BlazorSample.Graph
@using Microsoft.Identity.Client;
@using Microsoft.Identity.Web;
@inject GraphEmailClient _GraphEmailClient;

<h3>Emails</h3>

@if (_messages is null)
{
    <i>loading email inbox in progress...</i>
}
else
{
    foreach (var message in _messages)
    {
        <p>@message.Subject</p>
    }
}

@code {

    private  IEnumerable<Message>? _messages;

    protected override async Task OnInitializedAsync()
    {
        try
        {

            _messages = await _GraphEmailClient.GetUserMessages();
        }
        catch (Exception ex)
        {
            ConsentHandler.HandleException(ex);

        }
    }

}
